@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 110px;
  line-height: 40px;
  -webkit-text-stroke-color: #e9e9e9 ;
  -webkit-text-stroke-width: 0.009em;
  -webkit-text-fill-color: white;
}